*{
margin: 0;
padding: 0;
box-sizing: none;
}

nav{
display: flex;
flex-direction: row;
justify-content: space-between;
}

ul{
display: flex;
list-style: none;
margin: 20px;
gap: 25px;
}

li {
  list-style: none;
}

li a {
  position: relative;
  text-decoration: none;
  color: black;
}

li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: -4px;
  background-color: black;
  transition: width 0.3s ease;
}

li a:hover::after {
  width: 100%;
}

header{
    background-color: #EDE4E4;
     }
.perfil{
width: 400px;
height: 400px;
padding: 50px;
}

.perfil > h1{

text-align: center;
padding-bottom: 20px;
}

.perfil > P
{
padding-left: 25px;    
text-align: left;
height: 150px;
width: 200px;

}